body {
	background-color: #F2F2F2;
}

div {
	margin: bottom: 100px;
}


.masthead {
	height: 135px;
	opacity: 0.8;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}

.headline {
	text-align: center;
	display: block;
	color: black;
	font-size: 4.5rem;
	padding-top: 0px;
	font-family: 'Francois One', sans-serif;

}
.inputbox {
	text-align: center;
	display: block;
	padding-top: 0px;
	margin-bottom: 50px;
	margin-top: 50px;
}

input#sell {
	text-align: center;
	font-size: 1.8rem;
	outline-color: black;
	background-color: white;
	font-size: 1.6rem;
	padding: 10px;
	margin-top: -30px;
}


.categories {

	text-align: left;
	display: inline-block;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	margin-left: -15px;

}

#metrics {
		text-align: left;
		font-size: 1.5rem;
		vertical-align: top;
		font-family: 'Open Sans', sans-serif;
		width: 75%;
		margin: 0 auto;
}
   	 

ul {
	list-style: none;
	padding: 0;
}

.categories h1, #metrics h1 {
	text-align: center;
	font-size: 1.3rem;
	margin-top: 40px;
	margin-bottom: 40px;
}


footer {
	padding-top: 200px;
	text-align: center;
	clear: left;
}

li {
	width: 250px;
	height: 30px;
	margin: 0 auto;
	padding-bottom: 10px;
	font-size: .95rem;
}

ul {
	margin: 0 auto;
}


::-webkit-input-placeholder {
   color: black;

}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}


/*
#content-footer > p {
  color: black;
  margin: 0;
  text-align: center;

}

#content-footer {
  background-color: #D3CBBD;
  margin: 0 auto;
  border-radius: 50px;
  padding: 25px;
  padding-bottom: 20px;
  margin-top: 275px;
  width: 275px;
}

.social p {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}
*/

#lists {
	margin-left: 50px;
}



.categories input {

	border: none;

}

.buttonspacing {

	padding-left: 6px;
}

.limargins {
	margin-top: 28px;
	padding-left: 6px;
}

table, th, td {
   border: 1px solid black;
   margin-top: 50px;
}

.results-table {
	width: 90%;
	margin: 50px auto;
	font-family: 'Open Sans', sans-serif;
	display: none;
}

th {
	height: 40px;
    background-color: #232f3e;
    color: white;

}

th, td {
    padding: 5px;
}

tr:hover {
	background-color: #ffb84d;
}

#amount, #amount2 {
	background-color: #F2F2F2;
	width: 100px;
}

#slider-range, #slider-range2 {
	margin-bottom: 10px;
}

.list-sep {
	float:left;
}



.templates {
	display: none;
}

.more-button {
	float: right;
	margin-right: 66px;
	margin-bottom: 15px;
	margin-top: -30px;
}


@media (max-width: 850px) {

	.headline {
		font-size: 3.5rem;
	}
  
}

@media (max-width: 660px) {

	.headline {
		font-size: 2.5rem;
	}

	tbody {
		font-size: 0.65rem;
	}
  
}

@media (max-width: 570px) {

	tbody {
		font-size: 0.75rem;
	}
  
}

@media (max-width: 480px) {

	.list-sep {
		width: 100%;
		margin: 0 auto;
		float: none;
	}
  
}

@media (max-width: 360px) {

	tbody {
		font-size: 0.55rem;
	}
  
}

/*@media (max-width: 530px) {

	tbody {
		font-size: ;
	}
  
}*/


.explanation {
	text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-top: -20px;
    font-size: 1.25rem;
    font-style: italic;
}

.container, .categories {
	width: 100%;
}

.list-sep {
	width: 33%;
}










